[Unit]
Description=ngxbot daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/supybot {{ salt.pillar.get('ngxbot:homedir') }}/ngxbot.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
Restart=no
User=ngxbot
SyslogIdentifier=ngxbot
SystemCallFilter=~@raw-io @clock @cpu-emulation @debug @keyring @module @mount @obsolete @privileged @raw-io
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths={{ salt.pillar.get('ngxbot:homedir') }}

[Install]
WantedBy=multi-user.target
